// Partials
@use 'variables';


/*-------------------- Fonts --------------------*/
@font-face {
    font-family: 'Nunito';
    src: url('fonts/nunito-variablefont-weight.ttf');
}


/*-------------------- Global Styles --------------------*/
* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: variables.$text;
}

main {
    background-color: #ffffff;
    min-height: 95vh;
}

header {
    height: 70px;
}

h1 {
    font-size: 3rem;
}

.search-form {
    input {
        width: 30vw;
    }
}

// Skip link
.skip-link {
    position: fixed;
    top: 0;
    left: 5rem;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index:99;
    transform: translateY(-100%);
    transition: transform 0.3s;
}

.skip-link:focus {  
    width: auto;
    height: auto;
    color: variables.$red;
    transform: translateY(0%);
}

// Scroll to top button
#scroll-to-top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: 1px solid #000000;
    outline: none;
    background-color: variables.$secondary;
    color: #000000;
    padding: 0.5rem;
    border-radius: 8px;
    font-size: 1rem;

    &:hover {
        background-color: variables.$accent;
    }

    &:active {
        transform: translateY(5px);
    }

    &::after {
        content: ' Back To Top';
    }
}

@media screen and (max-width: 766px) {
    #scroll-to-top-button {
        &::after {
            content: '';
        }
    }
}

.display-none {
    display: none;
}

// Style to make warning text red
.warning-text {
    color: #ff0000;
}

// Style to make important text bold
.bold-text {
    font-weight: bold;
}

// Toggalable style for high contrast buttons
.high-contrast {
    background-color: #000000 !important;
    color: #ffffff !important;
}

// Styles for animation on scroll
.fadeInLeft {
    animation: fadeInLeft 1.2s both;
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeInRight {
    animation: fadeInRight 1.2s both;
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeInTop {
    animation: fadeInTop 1.2s both;
}
@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/*-------------------- Header --------------------*/
.navbar {
    .nav-item {
        font-weight: 600;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 2px;
        
        &:hover {
            margin-bottom: 0;
            border-bottom: 2px solid variables.$accent;
        }
    
        a {
            padding: 0;
        }

        .nav-link {
            color: #000000
        }

        .dropdown-toggle {
            padding: 0;
        }

        .dropdown-menu {
            padding: 0.5rem;

            li {
                margin: 0.3rem;
                border-bottom: 2px solid #ffffff;

                &:hover {
                    border-bottom: 2px solid variables.$accent;
                }

                a:hover {
                    background-color: #ffffff;
                }
            }
        }
    }
    
    .font-size-contrast-buttons {
        padding: 0;

        .btn-font-size,
        .btn-contrast {
            color: #000000;
            padding: 0;
            font-weight: 500;
            border-radius: 0;
            margin-bottom: 2px;
            margin-left: 0.8rem;

            &:hover {
                margin-bottom: 1px;
                border-bottom: 2px solid variables.$accent;
            }
        }

        .btn-secondary {
            padding-right: 0;
        }

        .dropdown-menu {
            button {
                &:focus {
                    border: 2px solid #000000;
                    border-radius: 4px;
                }
            }
        }
    }

    .offcanvas-buttons {
        button {
            border: 1px solid #000000;
            width: 100%;
            margin-bottom: 1rem;
            font-weight: 600;
        }
        
        .btn-font-size {
            background-color: variables.$accent;
        }

        .btn-contrast {
            background-color: variables.$secondary;
        }
    }
}

#separate-navbar {
    background-color: variables.$primary;
    border-bottom: 1px solid #000000;
    box-shadow: 0px 1px 4px 0px #000000;

    .font-size-contrast-buttons {
        .dropdown-toggle {
            display: block;
            background-color: variables.$primary;
            color: #000000;
            border: none;
        }
    }
}


/*-------------------- Footer --------------------*/
#footer {
    background-color: #000000;
    
    p,
    h2 {
        color: #ffffff;
        margin-bottom: 0.3rem;
    }

    #copyright-statement {
        border-top: 1px solid #ffffff;
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            text-decoration-color: variables.$accent;
            text-decoration-thickness: 2px;
        }
    }

    i {
        color: #ffffff;
    }
}


/*-------------------- Home Page --------------------*/
.home-main {
    min-height: 0;

    .btn-primary {
        background-color: variables.$accent;
        border-color: #000000;
        color: #000000;

        &:hover {
            opacity: 70%;
        }

        &:active {
            transform: translateY(5px);
        }
    }
}

#home-hero-image {
    background-image: url('../images/home-hero-image.jpg');
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
}


/*-------------------- Sitemap Page --------------------*/
.sitemap-main {
    li {
        margin: 0.5rem;
    }

    a {
        color: #0000ff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            color: variables.$accent;
        }
    }
}


/*-------------------- Contact Page --------------------*/
.contact-main {
    form {
        border: 1px solid #000000;
        border-radius: 5px;
        max-width: 1000px;
        margin: auto;
        padding: 1rem;
        padding-top: 0;

        label {
            text-align: left;
        }

        textarea {
            height: 13.1rem;
        }

        button {
            background-color: variables.$accent;
            border: 1px solid #000000;
            font-weight: 600;
        }
    }
}


/*-------------------- FAQ Page --------------------*/
.faq-main {
    .accordion-body {
        p {
            text-align: left;
        }
    }
}


/*-------------------- Microsoft Setup --------------------*/
.microsoft-setup-main {
    .video-tutorials {
        iframe {
            width: 100%;
            height: 380px;
        }
    }
}

/*-------------------- Library Printers --------------------*/
.library-printers-main {
    .print-photocopy-scan,
    .cant-log-in {
        background-color: variables.$gray;
    }

    table {
        border-collapse: collapse;
        th,
        td {
            border: 1px solid #000000;
            padding: 0.5rem;
        }
    }

    iframe {
        width: 100%;
        height: 380px;
    }
}

/*-------------------- Email Tips --------------------*/
.email-tips-main {
    li {
        line-height: 2;
    }
}

/*-------------------- Access Blackboard --------------------*/
.access-blackboard-main {
    iframe {
        width: 100%;
        height: 380px;
    }
}

/*-------------------- Locating Timetable --------------------*/
.locating-timetable-main {
    iframe {
        width: 100%;
        height: 380px;
    }
}
